#cookie-message {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 98%;
  margin: 0.3rem auto;
  padding: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: 0 0 5px #8f8f8f;
  background: white;
}
